// Container & Breakpoint
$container_width: 1080px;
$container_padding: 40px;
//$container_padding-half: (40 / 2)px;
$breakpoint-1450: 1449.98px;
$breakpoint-992: 991.98px;
$breakpoint-768: 768.2px;
$breakpoint-480: 479.98px;

// Colors
$color-black: #232427;
$color-text: #9998A4;
$color-description: #5E5C6C;
$color-blue: #2962EF;
$color-darkBlue: #0d43ce;
